.image-profile {
    padding: 1.2em;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
    width: fit-content;

    &__image {
        object-fit: contain;
        display: block;
        width: 110px;
        height: 110px;
    }
}