<div class="expenditure-table-container mt-3">
    <table class="table expenditure-table mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Costo</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expenditure of expenditures; let i = index">
                <td>{{expenditure.id}}</td>
                <td>{{expenditure.date}}</td>
                <td>{{expenditure.detail}}</td>
                <td>S/ {{expenditure.cost}}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <span title="Editar" (click)="updateExpenditure(expenditure.id)">
                            <i class="fa fa-edit edit-icon icon"></i>
                        </span>
                        <span title="Eliminar" (click)="deleteExpenditure(expenditure.id)">
                            <i class="fa fa-trash remove-icon icon"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>