.expenditure-table-container {
    border-radius: 10px;
    overflow: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .6);
    height: 350px;
}

.expenditure-table {
    background-color: white;
    overflow: hidden;
}

.expenditure-table th {
    color: #005524;
}

.expenditure-table tr:nth-child(even) {
    background-color: rgba($color: #005524, $alpha: 0.1);
}

.icon {
    cursor: pointer;
}